body {
  background-color: lightgray;

}

th{
  background-color: orange;
}

h1{
  text-align: center;
  background-color: lightgreen;
}
tr:nth-child(odd) {
  background-color: lightyellow;
}

tr:nth-child(even) {
  background-color: lightblue;
}

.container {
  display: inline-block;
  border: 1px solid black;
  margin: 20px;
}
